<!DOCTYPE HTML>

<html>
	<head></head>
	<body>
		<span id="response"></span>
		<br/>

		
		<label>username</label>
		<input id="user_name" type="text">
		<br/>
		<label>password</label>
		<input id="password" type="text">
		<br/>
		<button onclick="UserAPI.login()">Login</button>
		<br/>

		<p>Don't have an account? <a href="register">Register Here</a> </p>

		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript" src="js/UserAPI.js"></script>
	</body>
</html>